spring:
  application:
    name: chongdae
  datasource:
    url: jdbc:h2:mem:database
  jpa:
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 0B
      max-file-size: 20MB
      max-request-size: 20MB
  jackson:
    time-zone: Asia/Seoul
  h2:
    console:
      enabled: true
      path: /h2-console
      
springdoc:
  swagger-ui:
    path: swagger-ui.html
    url: /static/swagger-ui/openapi3.yaml

amazon:
  s3:
    bucket: techcourse-project-2024
  cloudfront:
    redirectUrl: d3a5rfnjdz82qu.cloudfront.net

security:
  jwt:
    token:
      access-secret-key: testAccessSecretKeytestAccessSecretKeytestAccessSecretKeytestAccessSecretKeytest
      refresh-secret-key: testRefreshSecretKeytestRefreshSecretKeytestRefreshSecretKeytestRefreshSecretKeytest
      access-token-expired: 30m
      refresh-token-expired: 14d

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: JSESSIONID

logging:
  level:
    com.zzang.chongdae: INFO
  file:
    name: /logs/backend.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  logback:
    rollingpolicy:
      file-name-pattern: /logs/backend.%d{yyyy-MM-dd}.%i.log
      max-file-size: 100MB
      max-history: 14

auth:
  connect-timeout-length: 3s
  read-timeout-length: 3s

management:
  endpoints:
    web:
      exposure:
        include: health
      path-mapping:
        health: health-check
      base-path: /
