spring:
  application:
    name: chongdae
  datasource:
    url: jdbc:h2:mem:database
  #  h2:
  #    console:
  #      enabled: true
  jpa:
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 0B
      max-file-size: 100MB
      max-request-size: 100MB

springdoc:
  swagger-ui:
    path: swagger-ui.html
    url: /static/swagger-ui/openapi3.yaml

amazon:
  s3:
    bucket: techcourse-project-2024
  cloudfront:
    redirectUrl: d3a5rfnjdz82qu.cloudfront.net
